[project]
	description = A fork of the JQM Backbone Require Demo
[access "refs/*"]
	owner = group user/borinquenkid (borinquenkid)
[access "refs/for/refs/*"]
	read = group user/borinquenkid (borinquenkid)
	push = group user/borinquenkid (borinquenkid)
	label-Code-Review = -2..+2 group user/borinquenkid (borinquenkid)
	label-Verified = -1..+1 group user/borinquenkid (borinquenkid)
	rebase = group user/borinquenkid (borinquenkid)
	removeReviewer = group user/borinquenkid (borinquenkid)
	submit = group user/borinquenkid (borinquenkid)
[access "refs/heads/*"]
	read = group user/borinquenkid (borinquenkid)
	create = group user/borinquenkid (borinquenkid)
	push = +force group user/borinquenkid (borinquenkid)
	pushMerge = group user/borinquenkid (borinquenkid)
[access "refs/tags/*"]
	push = +force group user/borinquenkid (borinquenkid)
	pushTag = group user/borinquenkid (borinquenkid)
	pushSignedTag = group user/borinquenkid (borinquenkid)
